  <aside>
    <ul>
      <% if controller.action_name == "account" %>
        <li class = "open-page">
          <%= link_to "アカウント", users_account_path %>
        </li>
        <li>
          <%= link_to "プロフィール", users_profile_path %>
        </li>
      <% elsif controller.action_name == "show" || controller.action_name == "update" %>
        <li>
          <%= link_to "アカウント", users_account_path %>
        </li>
        <li class = "open-page">
          <%= link_to "プロフィール", users_profile_path %>
        </li>
      <% end %>
    </ul>
  </aside>