<% if obj.errors.any? %>
  <div id = "error_explanation">
    <% obj.errors.full_messages.each do |message| %>
      <ul>
        <li class= "err-alart"><%= message %></li>
      </ul>
    <% end %>
  </div>
<% end %>