.flash {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  .notice {
    color: white;
    background-color: lightBlue;
  }
  .alert{
    color: white;
    padding: 12px 0;
    line-height: 18px;
    background-color: #F35500;
  }
}


